@media screen and (max-width: 600px) {
  header {
    background-image: url(../medias/bg_hero_mobile.svg);
    background-color: hsl(193, 100%, 96%);
  }
  .Article {
    flex-direction: column-reverse;
  }
  .ArticleText,
  h1,
  h3,
  p {
    width: 100%;
    text-align: center;
  }
  .logoPrincipal {
    height: 15px;
  }

  .BlockRightHeader,
  .BlockLeftHeader {
    padding: 20px 0;
    width: 80%;
    margin: 15px 10%;
  }
  .presentation {
    text-align: center;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  .Header {
    margin: 0 20px;
    padding: 20px 0 0 0;
  }
  /* .reduc {
    margin: inherit;
  } */
  .BlocEntire {
    display: block;
  }
  .Reseauxsociaux {
    display: flex;
    justify-content: left;
    align-items: left;
  }
  .FirstBloc{
    width: :100%;
  }
  .FourBloc {
    margin: 0 25% 0 25%;
    margin-bottom: 20px;
  }
  .SecondBloc {
    width: 100%;
  }
  .Underline {
    text-align: left;
    width: 100%;
  }

  .IconePolice {
    text-align: center;
  }
  .IconeLocalisation {
    width: 90%;
    padding-left: 31px;
    text-align: left;
  }
  .IconeEmail {
    width: 50%;
    padding-left: 30px;
    text-align: left;
    margin-bottom: 27px;
  }
  .IconeTelephone {
    padding-left: 29px;
  }
  .TelWidth {
    margin-bottom: 44px;
  }
  .Logo {
    padding-left: 4px;
  }
  .PosText {
    display: flex;
    flex-direction: column;
  }
  .LastButton {
    width: 92%;
    margin: 0 4%;
  }
  h2 {
    text-align: center;
  }
}
