@media screen and (max-width: 600px) {
  header {
    background-image: url(../medias/bg_hero_mobile.svg);
    background-color: hsl(193, 100%, 96%);
  }
  .article {
    flex-direction: column-reverse;
    padding: 12px;
  }
  .articleText,
  h1,
  p {
    width: 100%;
    text-align: center;
  }
  .logoPrincipal {
    height: 15px;
  }

  .righthead,
  .lefthead {
    padding: 20px 0;
    width: 80%;
    margin: 15px 10%;
  }
  .presentation {
    text-align: center;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  .head {
    margin: 0 20px;
    padding: 20px 0 0 0;
  }
  /* .reduc {
    margin: inherit;
  } */
}
