body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  max-width: 1440px;
}
p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

/* ==================   Button     ================ */
/* .button {
  background-color: pink;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  box-shadow: inset 0px -2px 0px 0px rgb(184, 184, 184);
  padding: 10px 45px 0 45px;
  width: max-content;
}

.button:active {
  box-shadow: inset 0px 0px black;
} */

.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  margin: 20px 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(
    to left,
    hsl(322, 100%, 16%) 0%,
    hsl(322, 100%, 32%) 8%,
    hsl(322, 100%, 32%) 92%,
    hsl(322, 100%, 16%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 50px;
  font-size: 18px;
  color: white;
  background: hsl(322, 100%, 66%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

/* .button-82-pushable:focus:not(:focus-visible) {
  outline: none;
} */

/* ==================== FIN Button =============== */

/* ==================HEADER ===================== */
header {
  background-image: url(../medias/bg_hero_desktop.svg);
  background-color: hsl(193, 100%, 96%);
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.logoPrincipal {
  height: 30px;
}
.Header {
  margin: 0 40px;
  padding: 20px 0 0 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.button {
  background-color: pink;
  height: 35px;
  width: fit-content;
  text-align: center;
  border-radius: 50px;
  padding: 10px 50px 0 50px;
  font-weight: 700;
}
.button:hover {
  box-shadow: 0 0 2px rgb(225, 224, 224);
}
.buttonwhite {
  color: black;
  background-color: white;
}
.presentation {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.BlockLeftHeader {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.BlockRightHeader {
  width: 50%;
}
/* .reduc {
  width: 40%;
} */
.HeaderImg {
  width: 100%;
}
/* ==============  FIN HEADER  ================ */

/* =================    MAIN    ==================== */
main {
  padding: 70px 0 0 0;
}
.Article {
  border-radius: 25px;
  width: 90%;
  margin: 50px 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 20px rgb(222, 222, 222);
  padding: 5% 0;
}
h2 {
  color: black;
}
.ArticleText {
  width: 40%;
  color: rgb(165, 165, 165);
}
.ArticleImg {
  height: 140px;
}
.Invert {
  flex-direction: row-reverse;
}
/* =================  FIN   MAIN    ==================== */

/*<!-------FOOTER----> */

footer {
  background-color: hsl(192, 100%, 9%);
  color: hsl(193, 100%, 96%);
  padding: 110px 5%;
}
.BlocEntire {
  display: flex;
}
.FirstBloc {
  display: flex;
  width: 45%;
}

.SecondBloc {
  width: 20%;
  margin-left: 24px;
  white-space: nowrap;
}
.FourBloc {
  width: 25%;
}
.ThirdBloc {
  width: 20%;
  white-space: nowrap;
}
.FirstBloc,
.SecondBloc,
.ThirdBloc,
.FourBloc {
  margin: 0 2%;
}

.Positionlogo {
  position: relative;
  left: -18px;
  top: 61px;
}
.Positionicon {
  left: -39px;
  top: 50px;
}
.Positiontel {
  height: 20px;
}
.Fa-brands {
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 20px;
}
.Fa-brands,
.Fa-twitter,
.Fa-instagram,
.Fa-facebook {
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 20px;
  border-radius: 50px;
  border: 2px solid white;
}
.Hoverrs:hover {
  color: pink;
  border: 2px solid pink;
}
.Hoverrs {
  padding: 12px;
  border-radius: 50px;
  border: 2px solid white;
  /* height: 25px; */
  width: 22px;
  text-align: center;
  margin: 5px;
}
.Reseauxsociaux {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Logo {
  filter: grayscale(1) brightness(10);
  padding: 0 0 0 15px;
  width: 144px;
  margin-bottom: 16px;
}
.IconeTelephone {
  background-image: url(../medias/icon_phone.svg);
  background-repeat: no-repeat;
  padding-left: 25px;
  background-position: 0px;
  margin-bottom: 28px;
}
.IconeEmail {
  background-image: url(../medias/icon_email.svg);
  background-repeat: no-repeat;
  padding-left: 25px;
  background-position: 0px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.TelWidth {
  width: 100%;
}
.IconeLocalisation {
  background-image: url(../medias/icon_location.svg);
  background-repeat: no-repeat;
  padding-left: 25px;
  display: flex;
  background-position: 0px 5px;
  text-align: left;
  margin-bottom: 20px;
}
.IconePolice {
  font-size: 12px;
  text-align: end;
  margin: 0px 2%;
}

.LastButton {
  width: 60%;
  margin: 0 20%;
  background-color: white;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px -3px 9px rgb(222, 222, 222);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  top: 70px;
}
.Underline {
  text-align: left;
  width: 2px;
}
.Underline:hover {
  text-decoration: underline;
}

/* <!-------END FOOTER----> */
