body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  max-width: 1440px;
}
p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.logo {
  height: 50px;
  width: 100%;
}
.button {
  background-color: pink;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  box-shadow: inset 0px 0px black;
  padding: 10px 45px 0 45px;
  width: max-content;
}
.button:hover {
  box-shadow: 0 0 15px rgb(198, 198, 198);
}
.button:active {
  box-shadow: inset -5px 5px rgb(184, 184, 184);
}
/* ==================HEADER ===================== */
header {
  background-image: url(../media/bg_hero_desktop.svg);
  background-color: hsl(193, 100%, 96%);
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.logoPrincipal {
  height: 30px;
}
.head {
  margin: 0 40px;
  padding: 20px 0 0 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.buttonwhite {
  color: black;
  background-color: white;
}
.presentation {
  padding: 70px 0;
  display: flex;
  justify-content: space-around;
}

.lefthead {
  width: 40%;
}
.righthead {
  width: 50%;
}
.reduc {
  width: 40%;
}
.headerImg {
  width: 100%;
  object-fit: contain;
}
/* ==============  FIN HEADER  ================ */

/* =================    MAIN    ==================== */
.article {
  border-radius: 12px;
  width: 90%;
  margin: 50px 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 20px rgb(222, 222, 222);
  padding: 5% 0;
}
.articleText {
  width: 40%;
}
.articleImg {
  height: 300px;
  width: 300px;
}
.invert {
  flex-direction: row-reverse;
}
/* =================  FIN   MAIN    ==================== */

/*<!-------FOOTER----> */
footer {
  background-color: hsl(192, 100%, 9%);
  color: hsl(193, 100%, 96%);
  display: flex;
  justify-content: flex-start;
}
.FirstBloc {
  width: 30%;
}
.SecondBloc,
.ThirdBloc {
  width: 10%;
}
.FourBloc {
  width: 20%;
}
.FirstBloc,
.SecondBloc,
.ThirdBloc,
.FourBloc {
  margin: 4% 5%;
}
/* <!-------END FOOTER----> */
